.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {

    position: relative;
    width: 20%;
    height: 42px;
    background-image: url("../image/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

p {
    color: #666;
    text-align: center;
    margin: 10px 0;
}